:root {
  --container-width: 1110px;
  --transition-default: 0.4s ease;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  max-width: 100dvw;
  min-height: 100dvh;
}
a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
}
ul {
  list-style: none;
}
.container {
  max-width: var(--container-width);
  margin-inline: auto;
}
.nunito-font {
  font-family: "Nunito", sans-serif;
}
.text-center {
  text-align: center;
}
.flex {
  display: flex;
}
.items-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.justify-between{
  justify-content: space-between;
}
.flex-wrap {
  flex-wrap: wrap;
}
.button {
  padding: 18px 32px;
  color: #ffffff;
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  font-weight: 700;
  border-radius: 40px;
  transition: all var(--transition-default);
}
.caramel-button {
  background-color: #b85c38;
  border: 2px solid #b85c38;
}
.caramel-button:hover {
  background-color: transparent;
  color: #ffffff;
}
.transparent-button {
  background-color: transparent;
  border: 2px solid #ffffff;
}
.transparent-button:hover {
  color: #b85c38;
  background-color: #ffffff;
}
.header {
  width: 100%;
  position: absolute;
  top: 77px;
  left: 50%;
  transform: translateX(-50%);
  color: #ffffff;
  z-index: 1;
}
.header-logo {
  font-size: 24px;
  font-weight: 700;
}
.header-nav-list {
  gap: 50px;
}
.header-nav-list a {
  transition: color var(--transition-default);
  font-size: 18px;
  position: relative;
}
.header .button {
  font-size: 18px;
  padding: 12px 32px;
  font-weight: 400;
}
.header-nav-list a::after {
  content: "";
  position: absolute;
  bottom: -12px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #b85c38;
  transition: width var(--transition-default);
}
.header-nav-list a:hover {
  color: #b85c38;
}
.header-nav-list a:hover::after {
  width: 100%;
}
.hero {
  min-height: 920px;
  background: url(./images/hero-background.png) center/cover fixed no-repeat;
  clip-path: ellipse(71% 59% at 50% 40%);
}
.hero-content {
  color: #ffffff;
}
.play-button {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #b85c38;
  margin: 0 auto;
  border: 2px solid #b85c38;
  cursor: pointer;
  transition: all 0.7s;
}
.play-button img {
  width: 16px;
  height: 20px;
}
.hero-content h1 {
  font-size: 72px;
  margin-top: 40px;
}
.hero-content p {
  font-size: 24px;
  margin-block: 28px 40px;
}
.hero-buttons-list {
  gap: 24px;
}
.play-button:hover {
  background-color: transparent;
}
.products {
  padding-block: 120px 153px;
}
.products h2 {
  color: #2d2424;
  font-size: 64px;
}
.products > p {
  max-width: 920px;
  margin: 24px auto 132px;
  color: #bdbdbd;
  font-size: 24px;
  line-height: 33px;
}
.products-cards-wrapper {
  gap: 80px 30px;
}
.products-cards-wrapper article {
  flex-basis: 350px;
  transition: scale var(--transition-default);
}
.products-cards-wrapper article:hover {
  scale: 1.04;
}
.products-cards-wrapper article h3 {
  display: inline-block;
  color: #b85c38;
  font-size: 24px;
  transition: color var(--transition-default);
  position: relative;
}
.products-cards-wrapper article h3:hover {
  color: #d97767;
}
.products-cards-wrapper article h3::before {
  display: block;
  margin-bottom: 26px;
  transition: rotate var(--transition-default);
}
.products-cards-wrapper article:hover h3::before {
  rotate: -15deg;
}
.products-cards-wrapper article:nth-child(1) h3::before {
  content: url(./images/product-1.png);
}
.products-cards-wrapper article:nth-child(2) h3::before {
  content: url(./images/product-2.png);
}
.products-cards-wrapper article:nth-child(3) h3::before {
  content: url(./images/product-3.png);
}
.products-cards-wrapper article:nth-child(4) h3::before {
  content: url(./images/product-4.png);
}
.products-cards-wrapper article:nth-child(5) h3::before {
  content: url(./images/product-5.png);
}
.products-cards-wrapper article:nth-child(6) h3::before {
  content: url(./images/product-6.png);
}
.products-cards-wrapper article h3::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 0%;
  height: 2px;
  background-color: #d97767;
  transition: width var(--transition-default);
}
.products-cards-wrapper article h3:hover::after {
  width: 100%;
}
.products-cards-wrapper article p {
  color: #bdbdbd;
  font-size: 14px;
  margin-top: 18px;
}
.ceo {
  height: 600px;
  background-color: #e0c097;
  gap: 90px;
}
.ceo img {
  width: 50%;
  height: 100%;
  object-fit: cover;
  border-radius: 0 460px 460px 0;
}
.ceo article {
  flex-basis: 445px;
  color: #5c3d2e;
}
.ceo article h2 {
  font-size: 48px;
  line-height: 65px;
}
.ceo article p {
  font-size: 24px;
  line-height: 33px;
  margin: 18px 0 24px;
}
.ceo-profile {
  gap: 24px;
}
.ceo-profile img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}
.ceo-profile h3 {
  color: #2d2424;
  font-size: 18px;
  font-weight: 400;
}
.ceo-profile span {
  display: block;
}
.features {
  padding-block: 110px 121px;
}
.features h2 {
  color: #2d2424;
  font-size: 64px;
}
.features > p {
  max-width: 920px;
  margin: 35px auto 90px;
  color: #bdbdbd;
  font-size: 24px;
  line-height: 33px;
}
.features-cards-wrapper {
  gap: 41px 30px;
}
.feature-card {
  flex-basis: 540px;
  transition: scale var(--transition-default);
  gap: 30px;
}
.feature-card:hover {
  scale: 1.04;
}
.feature-card-image {
  width: 200px;
  height: 200px;
  border-radius: 12px;
  overflow: hidden;
}
.feature-card-image img {
  width: 100%;
  height: 100%;
  transition: scale var(--transition-default), rotate var(--transition-default);
}
.feature-card:hover img {
  scale: 1.07;
  rotate: -2deg;
}
.feature-card-content {
  flex-basis: 310px;
}
.feature-card-content h3 {
  color: #000000;
  font-size: 24px;
}
.feature-card-content p {
  color: #bdbdbd;
  line-height: 160%;
  margin-block: 12px;
}
.feature-card-content a {
  display: inline-block;
  color: #b85c38;
  position: relative;
  transition: color var(--transition-default);
}
.feature-card-content a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 0%;
  height: 2px;
  background-color: #d97767;
  transition: all var(--transition-default);
}
.feature-card-content a:hover {
  color: #d97767;
}
.feature-card-content a:hover::after {
  width: 100%;
}
.blog {
  background-color: #f7f9fc;
  padding-block: 100px;
}
.blog-container {
  max-width: calc(var(--container-width) + 90px);
  margin-inline: auto;
  gap: 30px;
}
.blog-content {
  flex: 0 0 440px;
  margin-top: 56px;
}
.blog-content h2 {
  color: #333333;
  font-size: 48px;
  line-height: 65px;
}
.blog-content p {
  color: #bdbdbd;
  font-size: 24px;
  line-height: 33px;
  margin-block: 24px 42px;
}
.blog-content a:hover {
  color: #b85c38;
}
.blogs-cards-wrapper {
  gap: 30px;
}
.blog-card {
  flex: 0 0 350px;
  box-shadow: 4px 4px 40px 0px #0000001f;
  background-color: #ffffff;
  border-radius: 8px;
  overflow: hidden;
  transition: scale var(--transition-default),
    box-shadow var(--transition-default);
}
.blog-card:hover {
  scale: 1.04;
  box-shadow: 4px 4px 40px 0px #0000004c;
}
.blog-card-image {
  width: 100%;
  height: 250px;
  overflow: hidden;
}
.blog-card-image img {
  width: 100%;
  height: 100%;
  transition: scale var(--transition-default), rotate var(--transition-default);
}
.blog-card:hover img {
  scale: 1.07;
  rotate: -2deg;
}
.blog-card-content {
  padding: 25px 30px 79px;
}
.blog-card-content h3 {
  color: #333333;
  font-size: 30px;
  line-height: 41px;
}
.blog-card-content p {
  color: #bdbdbd;
  font-size: 20px;
  line-height: 27px;
  margin-block: 24px 32px;
}
.blog-card-content a {
  display: inline-block;
  color: #b85c38;
  font-size: 20px;
  position: relative;
}
.blog-card-content a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 0%;
  height: 2px;
  background-color: #d97767;
  transition: all var(--transition-default);
}
.blog-card-content a:hover {
  color: #d97767;
}
.blog-card-content a:hover::after {
  width: 100%;
}
.testimonial {
  background-color: #2d2424;
  position: relative;
  z-index: 1;
}
.testimonial::after {
  content: "";
  position: absolute;
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  clip-path: ellipse(71% 59% at 50% 40%);
  top: 0;
  z-index: -1;
}
.testimonial-cards-wrapper {
  padding-block: 113px 221px;
  gap: 30px;
}
.testimonial-card {
  flex-basis: 350px;
  color: #333333;
}
.testimonial-card p {
  font-size: 24px;
  line-height: 33px;
}
.testimonial-card p::before {
  display: block;
  margin-bottom: 24px;
}
.testimonial-card:nth-child(1) p::before {
  content: url(./images/testimonial-card-1-image.png);
}
.testimonial-card:nth-child(2) p::before {
  content: url(./images/testimonial-card-2-image.png);
}
.testimonial-card:nth-child(3) p::before {
  content: url(./images/testimonial-card-3-image.png);
}
.testimonial-card h3 {
  font-size: 20px;
  margin-block: 24px 8px;
}
.testimonial-card h4 {
  font-size: 16px;
  font-weight: 400;
}
.footer {
  background-color: #2d2424;
}
.footer-container {
  padding-block: 110px 45px;
}
.footer-logo {
  color: #ffffff;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 24px;
}
.address-column ul {
  flex-direction: column;
  gap: 18px;
  max-width: 260px;
}
.address-column ul a {
  color: #ffffff;
  transition: color 0.7s;
}
.address-column ul a:hover {
  color: #b85c38;
}
.footer-column-links h3 {
  color: #ffffff;
  font-size: 24px;
  margin-bottom: 31px;
}
.footer-column-links ul {
  flex-direction: column;
  gap: 8px;
}
.footer-column-links ul a {
  color: #ffffff;
  font-weight: 700;
  transition: color var(--transition-default);
}
.footer-column-links ul a:hover {
  color: #b85c38;
}
.footer-form-container h3 {
  color: #ffffff;
  font-size: 24px;
  margin-bottom: 34px;
}
.footer-container form {
  border-radius: 8px;
  width: 445px;
  background-color: #ffffff2e;
  padding: 25px 42px;
}
.footer-form p {
  color: #ffffff;
  font-size: 18px;
  margin-bottom: 24px;
}
.inputs-wrapper {
  gap: 18px;
}
.inputs-wrapper .email-input {
  flex-basis: 287px;
  border-radius: 4px;
  background: #ffffff;
  border: 1px solid #ffffff;
  padding: 15px 19px;
}
.inputs-wrapper .email-input::placeholder {
  color: #e0e0e0;
}
.inputs-wrapper .submit-input {
  padding: 9px 30px;
  font-size: 18px;
  cursor: pointer;
}
.footer-line {
  display: block;
  width: 100%;
  height: 1px;
  opacity: 0.2;
  background-color: #ffffff;
  margin-block: 80px 41px;
}
.footer-sub p {
  color: #ffffff;
  font-size: 12px;
}
.social-links {
  gap: 16px;
}
.social-links a {
  color: #ffffff;
  font-size: 13px;
  transition: color var(--transition-default);
}
.social-links a:hover {
  color: #b85c38;
}
